include bemto/bemto.pug

//- include partials
include _partials/header.pug
include _partials/main_screen.pug
include _partials/success.pug
include _partials/second_block.pug
include _partials/portfolio.pug
include _partials/about.pug
include _partials/partners.pug
include _partials/footer.pug
include _partials/404.pug
include _partials/game_block.pug
include _partials/playable_second_block.pug
doctype html 
html
	head
		title name_website
		
		//- include style.css
		link(rel="stylesheet" type="text/css" href="css/all_style.css")
		//- include animate.css
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
		//- fonts
		link(href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	body
		+header
		+main_screen
		+success
		+second_block
		+portfolio
		+about
		+partners
		+footer
		+404
		+game_block
		+playable_second_block

		script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
		//- wow js
		script(src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js")
		script new WOW().init();
		//- libs js
		script(type="text/javascript" src="js/all_libs.js")
		//- js
		script(type="text/javascript" src="js/all_js.js")