mixin 404
	+b.error
		+e.gradient
		img(src="img/404_back.jpg").back
		+e.content
			p.title 404
			.del
			p.text эта страница недоступна
			.logo-button
				img(src="img/logo.svg").logo
				button.red-button Перейти