mixin about
	+b.about
		+e.gradient
		img(src="img/back_about.jpg")
		+b.about-content
			+e.H2.title.block__title О нас
			.del
			+e.P.text Мы - креативная студия "REDPIX Production". Мы создаем и поддерживаем проекты в сфере веб-разработок и графического дизайна, создания фирменного стиля и HTML5 баннеров. Также мы разрабатываем профессиональные арты для мобильных игр и производим анимационные видео/промо ролики для игровых компаний. #[br]#[br]Наша команда — это талантливые художники и креативные дизайнеры, умные разработчики, профессиональные тимлиды и видеомейкеры. Мы занимаемся как аутсорсингом и поддержкой, так и отдельными проектами. #[br]#[br]Почему именно мы должны делать Ваш продукт? Потому, что мы работаем на высоком уровне доверия и ответственности. Начиная от квалифицированной консультации, заполнения брифа — до полного выполнения качественного продукта. #[br]#[br]С нами работать легко и комфортно, также мы обеспечиваем полную конфиденциальность работы. #[br]#[br]Поэтому, если Вам нужен надежный партнер для исполнения Ваших задач — обратитесь к нам, будем рады начать с Вами сотрудничество.