mixin cotact_form-tablet
	+b.contact-form-back
	+b.contact-form
		img(src="img/close.svg", alt="").close
		+e.UL.menu
			li
				a(href="#") Главная
			li
				a(href="#") Услуги
			li
				a(href="#") Портфолио
			li
				a(href="#") О нас
			li
				a(href="#") Конткты
		.del-menu
		+e.UL.phones
			li
				a(href="#") 066 675 77 55
			li
				a(href="#") 066 675 77 55
		+e.button.red-button Консультация