mixin footer
	+b.FOOTER.footer
		+e.gradient
		+b.contacts
			+e.H2.title Контакты
			.del
			+b.address
				+e.H5.title НАШ АДРЕС:
				+e.text 
					p.street Украина, г. Киев, ул. Е. Мирошниченко 6\11 
					p.phones Тел: 068 675 77 55 | 066 675 77 55 
					p.mail E-mail: info@red-pix.com
			+b.FORM.form
				+e.P.title Напишите нам прямо сейчас:
				+e.tel-mail
					input(type="text" placeholder="Ваше имя")
					input(type="email" placeholder="Ваш e-mail")
				input(type="text" placeholder="Ваше сообщение")
				button.red-button Отправить
			+b.address-tablet
				+e.H5.title НАШ АДРЕС:
				+e.text 
					p.street Украина, г. Киев, ул. Е. Мирошниченко 6\11 
					p.phones Тел: 068 675 77 55 | 066 675 77 55 
					p.mail E-mail: info@red-pix.com

