mixin game_block
	+b.game-block
		+e.H2.title.block__title Что мы делаем
		.del
		+b.opportunties
			+e.item
				img(src="img/penguin.svg", alt="")
				h4 Игровые персонажи
				ul
					li 2D персонажи
					li 3D персонажи
					li Животные
					li Люди
					li Ежедневный отчет
				button.red-button Заказать
				button.transparent-button Экспресс-Бриф
			+e.item
				img(src="img/brainstorming.svg", alt="")
				h4 Концепт арт
				ul
					li Ежедневный отчет 
					li Фоны
					li Прелоадеры
					li Илюстрации
					li Игровые обьекты
				button.red-button Заказать
				button.transparent-button Экспресс-Бриф
			+e.item
				img(src="img/3d.svg", alt="")
				h4 2D И 3D анимация 
				ul
					li Анимация персонажей
					li Spine 
					li Ежедневный отчет
					li Анимация обьектов
				button.red-button Заказать
				button.transparent-button Экспресс-Бриф
			+e.item
				img(src="img/smartphone.svg", alt="")
				h4 Дизайн интерфейса
				ul
					li Дизайн GUI
					li UX
					li Ежедневный отчет
					li Иконки 
					li Иконка приложения
				button.red-button Заказать
				button.transparent-button Экспресс-Бриф
			+e.item
				img(src="img/eye.svg", alt="")
				h4 ASO материалы
				ul
					li SMM банера
					li Локализация
					li Ежедневный отчет
					li Скриншоты
					li Иконки 
				button.red-button Заказать
				button.transparent-button Экспресс-Бриф
