mixin header
	+b.HEADER.header
		+e.logo
			a(href="#")
				img(src="img/logo.svg")
		+e.UL.menu
			li
				a(href="#") Главная
			li
				a(href="#") Услуги
			li
				a(href="#") Портфолио
			li
				a(href="#") О нас
			li
				a(href="#") Конткты
		+e.UL.phones
			li
				a(href="#") 066 675 77 55
			li
				a(href="#") 066 675 77 55
