mixin main_screen 
	+b.main
		+e.gradient
		img(src="img/Rectangle 1.jpg")
		+b.main-content
			+e.H1.title Креативная студия дизайна мобильных игр
			.del
			+e.P.description Мы разрабатываем профессиональные арты для мобильных игр и производим анимационные видео/промо ролики для игровых компаний
			+e.A.button.red-button(href="#") Консультация

