mixin partners
	+b.partners
		+e.H2.title Наши партнеры
		.del
		IMG.prev-partners(src="img/prev.svg")
		+b.partners-slider
			+e.item
				a(href="")
					img(src="img/logos/1.png", alt="")
			+e.item
				a(href="")
					img(src="img/logos/2.png", alt="")
			+e.item
				a(href="")
					img(src="img/logos/3.png", alt="")
			+e.item
				a(href="")
					img(src="img/logos/4.png", alt="")
			+e.item
				a(href="")
					img(src="img/logos/5.png", alt="")
			+e.item
				a(href="")
					img(src="img/logos/1.png", alt="")
			+e.item
				a(href="")
					img(src="img/logos/2.png", alt="")
			+e.item
				a(href="")
					img(src="img/logos/3.png", alt="")
			+e.item
				a(href="")
					img(src="img/logos/4.png", alt="")
			+e.item
				a(href="")
					img(src="img/logos/5.png", alt="")
		IMG.next-partners(src="img/next.svg")
		//- +b.partners-gallery
		//- 	IMG.prev(src="img/prev.svg")
		//- 	+b.partners-gallery-ribbon
		//- 		+porfolioItem
		//- 	IMG.next(src="img/next.svg")