// - let valuesPartners = [ "https://placekitten.com/1200/800", "https://placekitten.com/9100/600", "https://placekitten.com/1100/850", "https://placekitten.com/1330/900", "https://placekitten.com/1010/200", "https://placekitten.com/230/1000", "https://placekitten.com/120/800"]

// mixin partnersItem
// 	each val in valuesPartners.length ? valuesPartners : ['There are no values']
// 		A.partners-gallery-item(target="_blank" href= val data-title="Title" data-alt="Title" data-desc="Few description words")
// 			DIV
// 				IMG(src=val title="Title" alt="Image")