mixin playable_second_block
	+b.playable-second
		+e.H2.title.block__title Как это работает
		.del
		+e.content
			+b.image-cont
				img(src="img/phone.png", alt="")
			+b.playable-text
					+e.item
						p Brands can add marketing messages to educate the consumer, deliver the value proposition and build brand awareness and loyalty.
					+e.item
						p Brands can add marketing messages to educate the consumer, deliver the value proposition and build brand awareness and loyalty.
					+e.item
						p Brands can add marketing messages to educate the consumer, deliver the value proposition and build brand awareness and loyalty.