include portfolio-item.pug

mixin portfolio
	+b.portfolio
		+b.lightboxgallery-gallery
			IMG.prev(src="img/check.svg")
			+b.lightboxgallery-gallery-ribbon
				+porfolioItem
			IMG.next(src="img/check.svg")