include portfolio-item.pug

mixin portfolio
	+b.portfolio
		+e.H2.title.block__title Портфолио
		.del
		.scrolling
			+b.UL.portfolio-list
				+e.LI 
						a(href="#") Игровой Арт
				+e.LI 
						a(href="#") ASO материалы
				+e.LI 
						a(href="#") Видео Анимация
				+e.LI 
						a(href="#") Playable Ads
		+b.lightboxgallery-gallery
			IMG.prev(src="img/prev.svg")
			+b.lightboxgallery-gallery-ribbon
				+porfolioItem
			IMG.next(src="img/next.svg")