mixin second_block
	+b.second-block
		+e.H2.title.block__title Что мы делаем
		.del
		+b.opportunties
			+e.item
				img(src="img/game.svg", alt="")
				h4 Игровой Арт
				p Наши  художники готовы создать для вас превосходную графику которая сделает проект  более красивым
			+e.item
				img(src="img/game.svg", alt="")
				h4 ASO материалы
				p Наши  художники готовы создать для вас превосходную графику которая сделает проект  более красивым
			+e.item
				img(src="img/game.svg", alt="")
				h4 Видео Анимация
				p Наши  художники готовы создать для вас превосходную графику которая сделает проект  более красивым
			+e.item
				img(src="img/game.svg", alt="")
				h4 Playable Ads
				p Наши  художники готовы создать для вас превосходную графику которая сделает проект  более красивым